@font-face {
    font-family: 'urban-regular';
    src: url('../public/urban-grotesk-rebo-regular.otf') format('opentype');
    font-weight: normal;
    font-style:normal;
  }
 body{
  font-family: 'urban-regular', sans-serif; 
 }